.kt-avatar {
    position: relative;
    display: inline-block;
}

.kt-avatar.kt-avatar--outline .kt-avatar__holder {
    border: 3px solid lightgray;
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
}

.kt-avatar.kt-avatar--circle .kt-avatar__holder {
    border-radius: 50%;
}

.kt-avatar .kt-avatar__holder {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-avatar.kt-avatar--circle .kt-avatar__upload {
    right: 0;
    top: 85px;
}

.kt-avatar .kt-avatar__upload {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fd5a45;
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.kt-avatar .kt-avatar__upload i {
    color: white;
    font-size: .9rem;
}

.kt-avatar .kt-avatar__upload input {
    width: 0!important;
    height: 0!important;
    overflow: hidden;
    opacity: 0;
}

.kt-avatar.kt-avatar--circle .kt-avatar__cancel {
    right: 3px;
    bottom: 10px;
}

.kt-avatar.kt-avatar--changed .kt-avatar__cancel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-avatar .kt-avatar__cancel {
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: auto;
    right: -10px;
    bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, .1);
    display: none;
}

.kt-avatar .kt-avatar__cancel i {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #74788d;
    font-size: .9rem;
}