.product-order {
    padding-top: 10em;
    padding-bottom: 5em;
    margin: auto;
}

.invoice-col-no {
    width: 50px;
}

.invoice-col-img {
    width: 100px;
}

.invoice-col-name {
    padding: 0 2em;
    width: 100%;
}

.invoice-col-price {
    width: 100px;
}

@media (min-width: 1366px) {
    .product-order {
        max-width: 1366px;
    }
}

.hello-name {
    color: #11a6b9;
}
