a {
    color: #5bc0de;
}

.textarea-card {
    width: 100%;
    height: 8em;
    resize: none;
}

input {
    height: 20px!important;
}

.col-avatar {
    border: 1px solid lightgray;
    padding: 50px;
}