body.Frontend a.header-btn:hover {
  background-color: #FD5C48;
}

body.Frontend a.btn:hover {
  background-color: #FD5C48;
}

body.Frontend .opacty-25 {
  opacity: 0.25;
}

.instagram-layout .eapps-instagram-feed>a:last-child {
  filter: opacity(0);
}